/* CSS for Body */
body{
	 /* Removes default space on the left/right side. Affects nav too. */
	width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
	background-color: white;
	box-sizing: border-box
}	

/* ---------------------------------------- Header Section ---------------------------------------- */
		/* Main website title */
		header{
			background-color: white;
		}

		#logo{
			text-align: center;
		}
/* ---------------------------------------- Nagivation Section ---------------------------------------- */

		/* Vertical Navigation Bar */
		nav{		
			background-color: skyblue;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			padding-top: 14px;
		}

		/* Control Nav content arrangments */
		nav ul{
			list-style-type: none;	/* Creates the vertical effect in Nav */
			text-align: center;		/* Centers Nav Contents */
		}

		/* Creates the vertical effect */
		nav li{
			display: inline; 			
		}

		/* Padding for Navigation Links */
		nav a{
			padding-right: 30px;
		}

		/* Color for Navigation Links / Delete Link's underline */
		nav a:link{
			color: white;
			text-decoration: none;
		}
		nav a:visited{
			color: white;
			text-decoration: none;
		}
		nav a:active{
			color: black;
			text-decoration: none;
		}
		nav a:hover{
			color: black;
			text-decoration: none;
		}

/* ---------------------------------------- Main Section (Home Page) ---------------------------------------- */

		/* Defines width and margins for the entire main section */
		main{
			max-width: 1700px;
			margin: 20px auto;
			
			margin-bottom: 1px;
		}

		/* ---------------------------------------- City Photo (Home Page) ---------------------------------------- */

				/* City photo */
				#city{
					background:rgba(0,0,0,0)url(images/city.jpg) ;
					height: 600px;
					background-size: 100% 100%;
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-blend-mode: darken;
					max-width: none;

					margin-top: -20px;
					margin-left: -15px;
					margin-right: -15px;
				}

				/* Content within the city photo */
				#homecontent{
					text-align: center;
					padding-top: 150px;

					color: white;
				}

				/* Kenny's Photo within the city photo*/
				#homephoto{
					border-radius: 50%;
					border: 5px solid white;
				}

		/* ---------------------------------------- About Me Section (Home Page) ---------------------------------------- */

				/* About Me Margin/Color/Padding codes */
				#me_section{
					background-color: lightgray;

					padding-top: 25px;
					padding-bottom: 25px;

					margin-bottom: -48px;
					margin-top: -24px;
				}

				#aboutme_left{
					text-align: center;
				}
				/* Kenny's Park Image */
				#park{
					border-radius: 50%;
					border: 5px solid white;

					box-shadow: 0px 0px 1px 5px black;
					margin-bottom: 20px;
				}

				/* Park email circle */
				#emailpark{
					background-color: white;
					font-size: 30px;

					padding-left: 8px;
					padding-right: 8px;
					padding-bottom: 5px;
					border-radius: 30px;

					
					margin-right: 40px;

					border: 3px solid black;
				}

				/* Park Facebook circle */
				#facepark{
					background-color: white;
					font-size: 30px;

					padding-left: 9px;
					padding-right: 9px;
					padding-bottom: 4px;
					border-radius: 40px;

					margin-right: 40px;

					border: 3px solid black;
				}

				/* Park Linkedcircle circle */
				#linkedpark{
					background-color: white;
					font-size: 30px;

					padding-left: 9px;
					padding-right: 9px;
					padding-bottom: 4px;
					border-radius: 40px;

					border: 3px solid black;
				}

				/* About Me Content Body*/
				#aboutme{
					padding-top: 10px;
					padding-bottom: 20px;

					border: 5px solid black;
					background-color: white;
				
				}

				/* About Me Paragraph */
				#aboutme p{
					display: block;
			 		margin-left: auto;
			  	margin-right: auto;
			 		width: 90%;
				}

				/* About Me Title */
				#aboutme h2{
					text-align: center;
				}

				/* About Me Link to Resume */
				#aboutme a{
					background-color: darkgray;
					color: black;

					border-radius: 10px;
					border: 2px solid black;

					padding: 7px;

					text-decoration: none;

					display: block;
			 		margin-left: auto;
			  	margin-right: auto;
			 		width: 26%;
				}
				#aboutme a:link{
					color: black;
					text-decoration: none;
				}
				#aboutme a:visited{
					color: black;
					text-decoration: none;
				}
				#aboutme a:active{
					color: white;
					text-decoration: none;
				}
				#aboutme a:hover{
					color: black;
					text-decoration: none;
					background-color: lightgrey;
				}

				/* About Me Skill List */
				#aboutme ul{
					margin-left: 50px;
				}

		/* ---------------------------------------- Work Section (Home Page) ---------------------------------------- */
				/* Work Main Body */
				#work_content{
					background-color: white;
					border-top: 1px solid black;

					margin-bottom: -25px;
					margin-left: -15px;
					margin-right: -15px;
					padding-top: 10px;
				}

				/* Work Title */
				#work_content h2{
					text-align: center;
				}

				/* Work Cateogry Title */
				#work_content h3{
					text-align: center;
				}

				/* Work Icons */
				#work_icons{
					text-align: center;
					width: 100%;
				}

				/* Border for work sections */
				#work_border{
					border: 4px solid black;
					background-color: lightgray;
					padding-top: 5px;
					padding-bottom: 20px;

					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 10px;

					text-align: center;
				}

				/* work links */
				#work_border a{
					background-color: darkgray;
					color: black;

					border-radius: 10px;
					border: 2px solid black;

					padding: 4px;

					text-decoration: none;

				 	width: 21.5%;
				}
				#work_border a:link{
						color: black;
						text-decoration: none;
					}
				#work_border a:visited{
						color: black;
						text-decoration: none;
					}
				#work_border a:active{
						color: white;
						text-decoration: none;
					}
				#work_border a:hover{
						color: black;
						text-decoration: none;
						background-color: lightgrey;
					}

				/* Work paragraph body */
				#work_border p{
					text-align: center;
				}

				/* work photos */
				#home_website{
				  border: 3px solid black;
				  width: 350px;
				}


/* ---------------------------------------- Main Section (Website Page) ---------------------------------------- */

/* Align head text */
#website_text{
	text-align: center;
}


/* Align website images*/
#website{
	text-align: center;
}

/* Affects website image directly */
#website_imageT{
	border: 4px solid black;
	width: 555px;
}

#website_imageB{
	border: 4px solid black;
	width: 800px;
}

/* Darken website image when mouse hovers */
#website a:hover{
	filter: brightness(80%)
}

/* ---------------------------------------- Main Section (Home Page) ---------------------------------------- */
#resume_section{
	border-bottom: 1px solid black;
}

#resume_h2{
	text-align: center;
}

/* ---------------------------------------- Main Section (Game Page) ---------------------------------------- */
#game{
	text-align: center;
}

/* ---------------------------------------- Footer Section ---------------------------------------- */
footer{
	text-align: left;
	border-top: 1px solid black;
	padding:  10px;
	background-color: skyblue;
	padding-bottom: 20px;

	padding-left: 50px;
}

a{
	text-decoration: none;
}

/* Color for Footer Links */
a:link{
	color: black;
}
a:visited{
	color: black;
}
a:active{
	color: lightblue;
}
a:hover{
	color: lightblue;
}

/* Footer Email circle */
#emailcircle{
	background-color: white;
	font-size: 60px;

	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 5px;

	border-radius: 100px;

	margin-right: 60px;

	border: 3px solid black;
}

/* Footer Facebook circle */
#facecircle{
	background-color: white;
	font-size: 60px;

	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 4px;
	border-radius: 100px;

	margin-right: 60px;
	border: 3px solid black;
}

/* Footer Linkend circle */
#linkedcircle{
	background-color: white;
	font-size: 60px;


	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 5px;
	border-radius: 100px;

	border: 3px solid black;
}

#contact{
	text-align: center;
}

#f2{
	text-align: center;
	background-color: white;
}

/* CSS for Table */
table{
	border-collapse: collapse;
}

td,th{
	border: 1px solid black;
	padding: 40px;
	background-color: lightblue;
	text-align: center;
}

/* CSS for Form */
label{
	float: left;
	width: 6em;
}
input,textarea{
	margin-bottom: 1px;
	display: block;
	padding: 8px;
}
input[type=submit]{
	display: block;
	background-color: lightgray;
}

/* CSS for Tablets */
@media only screen and (max-width: 1024px){
	h1{
		font-size: 1.8em;
	}

	iframe{
		width: 350px;
	}

	#home_website{
		width: 200px;
	}

	#website_imageT{
		width: 400px;
	}
}

/* CSS for Smartphones */
@media only screen and (max-width: 768px){
	h1{
		font-size: 1.5em;
	}

	iframe{
		width: 250px;
	}

	#emailcircle{
		margin-right: 5px;
	}
	#facecircle{
		margin-right: 5px;
	}

	#home_website{
		width: 150px;
	}

	#website_imageT{
		width: 280px;
	}

	#website_imageB{
	width: 600px;
	}

}